[2017-11-21 02:01] jdshkolnik opened #4 "Re-linking test work items"
The migrator will bring over test plans, suites, and cases, but it won't relate them to each other correctly because they are not linked like other work items. For example, a test case created independently won't appear in a test suite even if that suite is linked as the parent.

![image](https://user-images.githubusercontent.com/2047520/33050936-830edb8c-ce35-11e7-8a5f-1c204774e1bb.png)

This is

[2018-01-14 03:20] valenker opened #5 "Migration fails with "Object reference not set to an instance of an object.""
When default-iteration-path or default-area-path do not exist on the target project migration fails with uninformative error message  - "Object reference not set to an instance of an object."

Instead - migrator should validate default-iteration-path or default-area-path  and display meaningful errors if they don't.

[2018-01-15 05:16] sferg-msft commented on #5
I debugged this, and it appears to be a VSTS issue.  The migrator is just returning the error returned from the REST call.  I'll dig further to see what I can fix on the VSTS side to handle this more gracefully.

[2018-01-15 05:51] sferg-msft opened #6 "Git commit links point to the wrong account"
When migrating git commit links, when converting the git commit artifact URI to a hyperlink it is using the target account instead of the source account.

[2018-01-15 06:00] #6 closed

[2018-02-01 15:24] sferg-msft commented on #4
As you noticed, there are no APIs available today to make the migrator work for test work items.  I will dig around to see if there is anything I can do to make it possible.

[2018-03-04 00:21] skeeler opened #9 "Validation succeeds but migration fails with "Unexpected Error""
As in the subject line. Tried bumping log level up to Debug then Trace, nothing additional found.
the HTTP response is error code 404 with a sample of the batch output as follows:
[code]

[2018-03-04 19:45] skeeler commented on #9
Problem was hard-coded "api-version=4.0" in three source files for this project, which according to the NuGet documentation on the Microsoft.TeamFoundationServer.Client package, means this can only be used (as-is) with TFS 2018 or later (incl. VSTS), but not TFS 2017 Update 3 (my environment). Changed these hard-coded references to "api-version=3.0" and these errors went away, though it would be n

[2018-03-04 19:55] skeeler opened #10 "Migration phase 1 is failing on updating work item (links)"
After migration phase 1 creates the new work items, it attempts to link them and fails with a rather cryptic TF401349 error. Brief search on the TFS error code turned up very little of value. Here are the error lines from the log output:

[code]
Here is the first batch request for updating the Task (280) to Requirement (290) work item child-parent linkage as output in the log file:

[code]
So I to

[2018-03-04 19:58] skeeler opened #11 "Support migration for RequirementsCategory typed work items"
Currently, you can't migrate work items from a team project created with one process template to another created with a different process template. Support for field mapping exists, but not work item type mapping. Suggestion to add support in vsts-work-item-migrator to allow mappings between "Requirement", "User Story", "Product Backlog Item" work item types (the requirements types).

[2018-03-05 03:58] skeeler commented on #10
Just noticed the readme.md indicates target has to be TFS 2018 or VSTS, i.e. not TFS 2017 as I am using with the "api-version=3.0" setting to make the REST API call not fail. Perhaps there are functional limitations in the 3.0 version of the VSTS REST API that make it impossible to use the necessary functionality with versions of TFS earlier than 2018. Thoughts?

[2018-03-07 03:36] #9 closed

[2018-03-23 08:49] SrivatsaMarichi commented on #5
I get the same error too @sferg-msft

[2018-03-23 14:03] sferg-msft commented on #5
@SrivatsaMarichi To work around the issue, either clear the default-iteration-path and default-area-path properties or set them to the project name.

[2018-03-25 12:39] SrivatsaMarichi commented on #5
@sferg-msft Yep, worked thanks!

[2018-04-02 12:40] ephos opened #13 "Could not find comment in relation hyperlink to source work item on target work item with id"
When running the WiMigrator I am finding that validation passes, migration phase 1 passes, however phase 2 ends with the following unexpected error.

`Could not find comment in relation hyperlink to source work item on target work item with id: 5366. Expected source work item id: 216112`

I've tried a few different configuration changes in the _configuration.json_ like re-mapping some problematic

[2018-04-03 10:40] DevOpsFounder opened #14 "A video on how to use the tool"
I created a video on how to use the tool so anyone can get quickly overview of it, I thought to make a pull request to add it to the readme then I thought it's better to leave that to you if you think it could help.
Thanks!
https://www.youtube.com/watch?v=aHbiLYUfomc&feature=youtu.be

[2018-04-03 10:43] DevOpsFounder opened #15 "The tool doesn't migrate the shared step in the steps"
While the tool migrate the linked shared steps to the test cases, it doesn't migrate it as a step in the steps for the test cases
![image](https://user-images.githubusercontent.com/14263956/38244929-246e13a0-3734-11e8-81b8-498e4182fa4f.png)

[2018-04-03 14:40] simondel opened #16 "TF400813: Resource not available for anonymous access. Client authentication required."
I am unable to get the migrator running using the following settings:
[code]

I used the same PAT for the source and target connection because they are under the same account, just in a different project.

The access-token property is not available in the logging, but that may be by design.

-------

**Output:**
[code]

[2018-04-03 16:33] ephos commented on #13
Just for some additional information we created an entirely vanilla no customization CMMI workspace with a single backlog item and that item threw the same unexpected error.

[2018-05-02 07:55] matiaskusack opened #24 "Migration fails when project name has spaces"
Hello, I've been trying to migrate a project that has spaces in its name. The error the migration tool was giving me was something like "Could not found area path for project ...".

The project had spaces in its name, and since the default area path is the project name, the only way of changeing it was by renaming the project.

So I did and it worked.

Regards

[2018-05-18 21:22] dwpeterson opened #25 "Work Item Creation fails with 400 response code: "VS403426: IdentityRef type is not accepted for this request.""
When I tried this code a month ago for a VSTS to VSTS WIT migration everything worked great. When I went to try it again this week using the same configuration I get a failure with a 400 response back for all attempts to create any type of WIT. Did something change with the VSTS API that has broken this project?  Here is an example request url and response (the body contains the WIT field data as

[2018-05-21 13:52] Paulohcsantos commented on #25
@dwpeterson, I changed the parameter "api-version" to version 5.0-preview, and it worked.
Check out!

[2018-05-21 16:33] dwpeterson commented on #25
No dice.. it still fails.

METHOD: PATCH
URI: /MyFirstProject/_apis/wit/workItems/$Epic?bypassRules=True&suppressNotifications=True&api-version=5.0-preview

RESPONSE CODE:
400

RESPONSE BODY:
{"count":1,"value":{"Message":"VS403426: IdentityRef type is not accepted for this request."}}

[2018-05-21 17:20] Paulohcsantos commented on #25
OK, try replacing the bypassRules parameter to false.

[2018-05-21 18:16] dwpeterson commented on #25
That partially worked.. it allowed 75 of my 361 items to be successful. But the ones its rejecting are due to the state rules such as not allowing creation of a new WIT to be assigned a Closed status. This is of course a problem since I'm migrating an existing in-progress project and we'd like to keep those older WIT as they are linked to on-going work.

Here's one that failed:
METHOD: PATCH
URI:

[2018-05-21 18:49] Paulohcsantos commented on #25
I also went through this situation. I solved by changing the status of the tasks to New and setting the Reason field to new too!

[2018-05-21 19:08] dwpeterson commented on #25
That kind of negates the advantage of migrating automatically. I'd then lose the current real status and reason of those items and have to somehow reset them.

[2018-05-25 11:41] Paulohcsantos commented on #24
You tried apply the word '%20' between the name?

[2018-05-25 11:50] Paulohcsantos commented on #14
Thanks for help, @DevOpsFounder

[2018-05-25 11:52] Paulohcsantos commented on #10
Hi @skeeler ,
I resolved this probleam apply a new version api 'Version-5.0-Preview'.
Do you tryed this option?

[2018-05-25 11:57] DevOpsFounder commented on #14
No problem @Paulohcsantos

[2018-05-25 15:06] matiaskusack commented on #24
Hi, no I haven't. Next time I'll give it a try.

Thanks

Matías Kusack
________________________________
De: Paulohcsantos <notifications@github.com>
Enviado: viernes, 25 de mayo de 2018 13:41:03
Para: Microsoft/vsts-work-item-migrator
Cc: Matías Kusack; Author
Asunto: Re: [Microsoft/vsts-work-item-migrator] Migration fails when project name has spaces (#24)

You tried apply the word '%20' between

[2018-06-08 15:26] francescoPizzolon opened #27 "Migration fails at the end of phase 2, when applying tags."
I'm migrating from TFS 2017 update 3.
Migration fails at the end of phase 2, when applying tags. It returns: Status Code: 404.
[WiMigrator_Migrate_2018-06-07_14-45-19.log](https://github.com/Microsoft/vsts-work-item-migrator/files/2084958/WiMigrator_Migrate_2018-06-07_14-45-19.log)
[WitBatchRequestsFromBatch4WithFailure2018-06-07_14-50-33-14.log](https://github.com/Microsoft/vsts-work-item-migrato

[2018-06-18 21:29] sferg-msft commented on #25
@dwpeterson This should be resolved, I downgraded the nuget package for the VSTS libraries.

[2018-06-18 21:29] #25 closed

[2018-06-18 21:31] sferg-msft commented on #27
@francescoPizzolon Sorry, this is because the migrator only supports writing to TFS 2018 or VSTS.  If you disable tagging on the source you should not see any errors.

[2018-06-18 21:31] #27 closed

[2018-06-18 21:32] sferg-msft commented on #16
@simondel Is this still happening?  And what permissions did you give the token?

[2018-06-18 21:33] sferg-msft commented on #10
@skeeler Correct, the migrator only supports write operations to TFS 2018 or VSTS.

[2018-06-18 21:33] #10 closed

[2018-06-18 21:35] sferg-msft commented on #15
Unfortunately shared steps are test artifacts, and the tool does not support migrating test data.

[2018-06-18 21:35] #15 closed

[2018-06-18 21:36] sferg-msft commented on #24
@matiaskusack Could you please attach the error log?  It is possible the area path mapping was incorrect.

[2018-06-19 13:50] tbergstedt commented on #13
I am experiencing this error as well. For info, the full exception message is:

   at Common.Migration.Migrator.GetRevAndPhaseStatus(WorkItem targetWorkItem, Int32 sourceWorkItemId) in C:\tools\vsts-work-item-migrator\Common\Migration\Migrator.cs:line 273
   at Common.Migration.Migrator.GenerateWitBatchRequestsForPhase2Batch(IBatchMigrationContext batchContext, Int32 batchId, IList`1 workItemMigra

[2018-06-19 14:02] simondel commented on #16
I gave the permission access to all scopes. It seems like the latest version on the master branch has fixed the issue for me. Thanks! I'll close this issue for now.

[2018-06-19 14:02] #16 closed

[2018-06-19 15:14] simondel opened #28 "Workitem links not properly migrated"
## Expected behavior:
Links between workitems in the source project are restored in the target project
![image](https://user-images.githubusercontent.com/4221997/41606495-1646c046-73e4-11e8-9d65-5d3f9037d391.png)

(Image is from source project)
## Actual behavior:
Links between workitems in the source project are placed as hyperlinks in the target project
![image](https://user-images.githubusercon

[2018-06-19 15:45] simondel commented on #28
This is the config I used:
[code]

[2018-06-19 16:36] simondel commented on #28
Fixed by adding `move-links`. I thought the default was `true` so I removed if from my config.

[2018-06-19 16:36] #28 closed

[2018-06-19 18:49] bfbatch opened #29 "unable to read the migration query"
Hi,

Getting the above error when running the tool. I left the default value in the query section. I have Project Collections Admin on both sides.
From config
"query": "Shared Queries/Website/All Tasks"
I also changed the values in the query, and pulled latest. Am I missing something? Here is the error from the log

[Error   @14.12.34.428] Validation error:
Common.Validation.ValidationException: U

[2018-06-20 13:31] aroyappan opened #30 "An item with the same key has already been added"
I have some work items already in the target project and now I am trying to migrate the old work items. In this Validation went successfully but after executing the migrate command I am getting the following error message “An item with the same key has already been added.” I try to change the work item titles to be unique.I also try creating a new project and run the migration to the newly created

[2018-06-21 07:39] tbergstedt opened #31 "Account Uri requires trailing '/'"
I encountered a problem when copying attachments in on-premises TFS. For every attachment that was to be copied, I received the following warning:
`[Warning   @15.22.59.449] Exception caught for b55743bd-e3a1-4663-84ee-d9c54534a5de:
System.Net.Http.UnsupportedMediaTypeException: No MediaTypeFormatter is available to read an object of type 'ExceptionResponse' from content with media type 'text/html

[2018-06-22 10:22] ernonewman commented on #29
I'm running into the same issue and can't figure out the issue.

The query is definately present in TFS and I have the requried permissions but for some reason it fails.

[2018-06-22 13:37] bfbatch commented on #29
I was able to get mine to work by adding a query fto My Queries. I was not able to work with anything under Shared Queries. Hope that helps.

[2018-06-22 13:39] ernonewman commented on #29
I originally had mine under My Queries but moved it to shared when that didn't work but I will try again,

Thanks.

[2018-06-25 20:58] bfbatch opened #32 "Work item ID used in destination project breaks Parent/Child work items link."
Hi, I've successfully moved all work items and after creating and new team (same as source) and assigned rights all looked good. However, most iterations have an title group called "unparented" and in it are all the unlinked work items. After investigation it seems that the work ID was already used in the destination so a new work ID was created. This breaks the linking, is there a section I misse

[2018-06-30 01:50] jdshkolnik commented on #32
I'm getting this as well, @sferg-msft

[2018-07-06 14:52] francescoPizzolon opened #33 "Field Replacements not working"
I want to map five source fields to target fields that I specified in a template called ScrumCustomized. The migration is successful but these fields have not being populated. Any ideas? Am I missing something?

 "field-replacements": {
    "Scrum.v3.EstimatedEffort": { "field-reference-name": "ScrumCustomized.EstimatedEffort" },
    "Custom.Confidence": { "field-reference-name": "ScrumCustomized.

[2018-07-20 13:07] danielstocker commented on #33
Hi @francescoPizzolon,
We had a look at this together today, and here is a summary of what we discussed.

We stepped through the code and found that your settings are getting discovered correctly. However, the matching logic does not account for field names that start with different prefixes.

Your source project is in TFS 2017.2, which can use any type of field declaration.

- Scrum.v3.EstimatedE

[2018-07-20 13:10] danielstocker commented on #33
**Just to clarify as well:** If we rename the destination process to Scrum.v3 and create a field "EstimatedEffort" with the same type as in the source, this works like a charm.

[2018-07-20 14:02] sferg-msft commented on #33
I’m on vacation, but when I get back I’ll investigate.

[2018-07-20 14:18] sferg-msft commented on #32
Were you using the latest version when you left this comment?  About a month ago I updated link handling due to a change in VSTS.

[2018-07-20 14:19] sferg-msft commented on #31
I can fix this when I get back from my vacation.

[2018-07-20 14:22] sferg-msft commented on #24
Closing due to no response from @matiaskusack

[2018-07-20 14:22] #24 closed

[2018-07-20 14:45] danielstocker commented on #33
Thanks so much @sferg-msft
Enjoy your holiday.

Meanwhile I've had a play with my TFS server and if I change the method in question to this, it starts working:

`        public bool FieldIsWithinType(string sourceFieldName, string sourceWorkItemType)
        {
            ISet<string> fieldsOfKey = this.migrationContext.WorkItemTypes.First(a => a.Key.Equals(sourceWorkItemType, StringComparison.Ord

[2018-07-23 20:48] jdshkolnik commented on #32
Yes. It was latest at time of attempt.

[2018-07-25 11:54] kardinal3000 opened #35 "Unable to read work item types on the target"
I have task, move WI from the one tfs collection to another one. Both tfs collections are located on my TFS 2018 update 2.
So, during migration process I have got this error

Could you please help me with this

[2018-08-23 20:01] vinicius-stutz commented on #29
@ernonewman, Did you ever find a solution?

[2018-08-23 20:08] ernonewman commented on #29
@vinicius-stutz, no, unfortunately not

[2018-08-23 20:09] vinicius-stutz commented on #29
@ernonewman What version of TFS are you using?

[2018-08-23 20:18] ernonewman commented on #29
2017, we just decided to move pass it the hard way, at the end of a sprint, stop dev in old project, archive it and manually copy remaining tickets to new project, deadlines sometimes call the shots 😁

[2018-08-28 12:59] Tenseiga opened #39 "failed for this reason: BadRequest"
Hi Team,

I am getting the issue BadRequest , when trying to migrate from VSTS to another VSTS. Validation is getting passed.

[2018-08-28 19:29] RogueSkillz commented on #33
We have an issue with the reference field names not matching when trying to migrate from a VSTS instance to another VSTS instance.  We get these errors:
[Info   @14.04.39.775] Checking metadata for work item type Product Backlog Item
[Warning   @14.04.39.776] Target: Field LhiScrum.EnvironmentName does not exist in Product Backlog Item
[Warning   @14.04.39.776] Target: Field LhiScrum.URSReferenceN

[2018-09-28 06:03] vkalokhe12 opened #40 "Not working with non secure TFS server"
Hi Team,

As I have tried migrating work Items with WIMigrator from TFS to VSTS, but getting error regarding permission, but I am having administrator access on TFS server, my TFS sever is having Non secure site,

Please suggest if we can use the tool for non secure TFS server.

log file & configuration file attached below.

[WiMigrator_Migrate_2018-09-27_08-47-28.log](https://github.com/Microsoft

[2018-10-03 09:59] nikpelgr commented on #40
Didn't "use-integrated-auth": true worked for you ?

[2018-10-05 06:37] vkalokhe12 commented on #40
Thanks @nikpelgr this worked for me & proceed further,
But getting "unable to read the migration query"
Tried with Shared as well as My Query with no luck.

[2018-10-05 06:56] vkalokhe12 commented on #29
I'm running into the same issue and can't figure out the issue.
I have tried with Shared & My Query still no luck,
(TFS version 2018)

[2018-10-05 11:27] nikpelgr commented on #40
"My Queries/All" worked for me.

[2018-10-24 14:24] higyigma opened #42 "Only the last history/discussion item moved over on a VSTS to TFS Migration"
**Expected**:

![screenshot](https://user-images.githubusercontent.com/6162649/47437195-097b7a00-d776-11e8-9e45-9fe6b0be2374.png)
As you can see, there is a large discussion history on the original work item. When I run the tool, I expected it to copy all of these comments.

**Actual**:

![screenshot2](https://user-images.githubusercontent.com/6162649/47437483-b0f8ac80-d776-11e8-9a88-efaa3a03da44.

[2018-11-20 00:00] cilerler opened #43 "support GitHub"
💡 _(couldn't figure out where else to put this request)_

I would like to be able migrate GitHub project to VSTS but so far I can only do the repository part and not issues.  Can you expand this project to support that or is there any other repository exists that you may point me?

[2018-11-20 03:03] pauldmaddox opened #44 "Discussion not migrating for VSTS to VSTS Migration"
We are performing a VSTS-->VSTS Migration.
All source data appears to be migrating well except discussion which is always blank in the destination system.

[2018-11-26 14:45] JawadS opened #45 "Does this work cross organization in the latest Azure DevOps ?"
We're trying to migrate some items from a project within one org. to another project in another org.

[2018-12-13 19:12] timg83 commented on #39
I also had this problem. I've set the log-level-for-file property to 'trace'. After you tried the migration you'll find a log file in the directory where you can find more information.

In my case there were some iteration paths missing in the target VSTS.

[2018-12-14 12:58] HarshalRane23 opened #46 "Validation fails with "Unexpected Error""
![devops error](https://user-images.githubusercontent.com/24963384/50004725-17a78300-ffce-11e8-8398-2e24820d547e.PNG)

[2018-12-20 12:47] tbergstedt opened #47 "Querying for already existing work items seems to ignore project"
We are in the situation where we have once successfully migrated a set of work items to a new team project in the same collection as the original project. When we now want to do this action again to another team project at a later time (short story: think of it as a way of "baselining" a set of work items and their states), the tool claims that a number of work items already have been migrated. So

[2019-02-04 08:13] pelvark opened #48 "Could not find source project from area path"
Hello,
I'm trying to run a migration of work items from one project to another, on two different devops accounts.
When I run the validation I get the following error:
`[Info   @08.35.44.264] Checking metadata for work item type Test Case
[Info   @08.35.44.264] Work item type Test Case validation completed successfully
[Error   @08.35.44.534] Validation error:. Could not find source project from ar

[2019-02-04 11:45] pelvark commented on #48
I found the problem,
because the project name had a space in it, I had used %20 in the config file to represent the space, as was done in the url of the devops project.
I changed this to be a normal space and didn't get the same error again.

[2019-02-04 11:45] #48 closed

[2019-02-04 13:18] pelvark commented on #44
@pauldmaddox
The question is old, but did you check the attachment? the discussion should be added as a file with history in attachment.

[2019-02-04 13:19] pelvark commented on #45
Yes

[2019-02-04 14:49] pelvark opened #49 "Error uploading attachments of different file types"
I'm running the migrator from one project on VSTS to another project on another organizations VSTS.
The validation phase runs fine, the migration phase has a ton of critical errors.
Almost all of them looks something like the following:
[code]
I've checked and it happens regardless of the size of the attachment. It seems text files work fine, but all files that are pictures/movies/excel files give

[2019-02-05 08:38] pelvark commented on #49
The solution was following the tip in the iddue: "Account Uri requires trailing '/'"

I added a "/" to the end of my target destination in the configuration file.

[2019-02-05 08:38] #49 closed

[2019-02-05 09:30] brmdbr commented on #32
Any update on this? I'm running into the same problem.

[2019-02-05 12:17] jkc-NC commented on #10
@sferg-msft I got this exact same error but I am migrating from VSTS to VSTS, or more specifically, Devops as it is called now.

[2019-02-05 15:00] tbergstedt commented on #47
We had chosen not to create any tags, neither on source nor target items. And we used different configurations in the two migrations, so I don't think any usage/removal of tags would have helped us.

Maybe I wan't really clear about this earlier, but our problem was that we actually needed to migrate all items once again (to a new target project), regardless of whether they had been included in th

[2019-02-06 09:42] jkc-NC opened #50 "Unexpected error, critical error, on work item linking"
This problem was described in a closed issue but was determined as an error due to version of TFS, but I get the same error using Azure Devops.
After migration phase 1 creates the new work items, it attempts to link them and fails with a rather cryptic TF401349 error. Brief search on the TFS error code turned up very little of value. Here are some of the error lines from the log output:

[code]
He

[2019-02-12 08:48] #45 closed

[2019-02-14 18:03] ArjayHawco opened #51 "Existing work item retrieval ignores filtering on target project"
Note: This item is similar to issue #47 "Querying for already existing work items seems to ignore project".

To repro:
1) We are migrating from on-premise TFS to Azure DevOps.
2) Set the post-move-tags the config file to empty and set the skip-existing param to false
3) Create a test (i.e. Test) Azure DevOps project
4) Create a query to use in the on-premise TFS project that migrates 1/3 the work

[2019-02-15 10:02] Allendorf231 commented on #33
I'm experiencing this Issue as well, any news on getting is fixed?!

[2019-02-27 17:55] paulCullivan opened #53 "Please add support for remote links."
Hey Sean, it would be great if the WiMigrator tool could support the new remote link type for ADO:

https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/add-link?view=azure-devops&tabs=browser#link-to-a-remote-work-item

https://docs.microsoft.com/en-us/azure/devops/boards/queries/link-type-reference?view=azure-devops#remote-work-link-types

Thanks!  Appreciate the help and for making thi

[2019-02-28 01:00] jdshkolnik commented on #33
I've hit this same problem.

[2019-02-28 11:15] jkc-NC commented on #50
I found that the error was most likely caused by the fact that while I had created the right Area Paths and Iteration Paths in the target project. I had not created the teams. I tried recreating all the teams and rerunning the migration and i got down to only 2 work items getting a CriticalError.

I assume that the problem was the teams and i'm closing this issue.

[2019-02-28 11:15] #50 closed

[2019-03-16 21:05] sferg-msft commented on #53
Makes perfect sense.  Since I don't think we actually want to create the remote links, I will migrate remote links as hyperlinks.

[2019-03-16 21:06] sferg-msft commented on #44
Yes, discussion is actually the history of the work item.  That is not migrated except as part of the file @pelvark mentioned.

[2019-03-16 21:06] #44 closed

[2019-03-16 21:07] sferg-msft commented on #42
Yes, that is the current design.  The history of the work item is not replayed, just the latest revision.  Discussion comes from the history of the work item.  The contents of discussion should be included as an attachment with all the history if you included that option when migrating.

[2019-03-16 21:07] #42 closed

[2019-03-16 21:47] pelvark opened #55 "Images in description field are not strictly copied, but linked to old"
I did a migration using the tool and thought everything went well in the end.
After deleting the old project I found that all the images that were in the description field of the work items where gone.

It seems the images in the target projects description was simply linking to the old projects images, so when it was deleted so were their sources.

I realize the fault is my own for not realizing

[2019-03-16 23:57] #53 closed

[2019-03-16 23:58] sferg-msft commented on #53
This has been resolved with PR #56

[2019-03-16 23:59] sferg-msft commented on #55
They should have been, could you let me know what version of TFS you were migrating from?

[2019-03-17 00:09] sferg-msft commented on #47
@tbergstedt Unfortunately the API used for checking for work item existence is not project scoped.  With the latest updates to the REST APIs on AzDevOps I could support this, since they include the project in the url now.  But that would be a potentially breaking change for existing migrations so I'll have to make it an opt-in type experience.

[2019-04-03 19:54] #35 closed

[2019-04-08 18:50] jeffolsonatnfm commented on #40
I have the exact same problem.  I can connect by using integrated auth to our http TFS instance.  But everything I try connecting to the query gives the root error:  Microsoft.VisualStudio.Services.WebApi.VssResourceNotFoundException: API resource location a67d190c-c41f-424b-814d-0e906f659301 is not registered on http://(server):8080/tfs.
I've tried numerous combinations of query project paths bea

[2019-04-26 21:20] devandanger opened #58 "Troubleshooting Missing Attachments on Migration"
Running this on a Mac everything seems to be be migrating well except for the attachments.

In ```WorkItemTrackingHelpers.cs```

The following code is getting hit.  I keep getting stuck around line 136 in which I'm getting a 400 bad request, unfortunately I can't figure out how to get a good return from this service.

[code]

Further more I can't find the documentation for this api-version (curren

[2019-04-27 16:07] sferg-msft commented on #55
@pelvark What version of TFS were you migration from?

[2019-04-27 16:23] sferg-msft commented on #51
When this tool was originally written, work items only had account scoped URLs.  We now have project scoped URLs, so I coud consider that enhancement.  It would have to be opt in, since it would break anything that was previously migrated using the collection scoped URLs.

[2019-04-27 16:25] sferg-msft commented on #31
@jkc-NC Yep!  #57

[2019-04-27 16:25] #31 closed

[2019-04-27 16:28] sferg-msft commented on #51
Closing as a dupe of #47

[2019-04-27 16:28] #51 closed

[2019-04-27 16:30] sferg-msft commented on #58
@devandanger Could you use a fiddler equivalent for Mac and capture the full request/response that is failing?

[2019-04-27 16:36] pelvark commented on #55
It was from VSTS to VSTS

[2019-04-27 16:40] #14 closed

[2019-04-27 16:40] sferg-msft commented on #14
Fixed with #59

[2019-04-27 16:55] sferg-msft commented on #46
@HarshalRane23 Is this still happening for you?

[2019-04-27 16:59] sferg-msft commented on #40
@jeffolsonatnfm The problem is because you have a / in your project name.  Are you typing in the project + team name?  / is not a supported character in a project.

[2019-04-27 16:59] sferg-msft commented on #39
@Tenseiga Is this still an issue?

[2019-04-27 17:03] sferg-msft commented on #32
@brmdbr Could you please attach your logs?

[2019-04-27 17:03] sferg-msft commented on #30
Closing due to no response.

[2019-04-27 17:03] #30 closed

[2019-04-27 17:04] sferg-msft commented on #29
Could you please attach your logs?

[2019-04-27 17:13] sferg-msft commented on #13
@tbergstedt Did you ever get around this issue?  The code you quoted above is not comparing the http/https portion, just the account name.  Could you share the URL you were getting?

[2019-04-27 17:47] sferg-msft commented on #55
@pelvark Could you share an example URL?  There was an Azure DevOps bug that was recently fixed that had the URLs for inline attachments mismatched.

[2019-04-27 18:25] sferg-msft commented on #55
Actually, I reprod myself.  Azure DevOps switched inline image formats, and the migrator was not updated to reflect that.  I'll get that fixed now.

[2019-04-28 15:30] Tenseiga commented on #39
No kindly close the issue. Sorry forgot to close it.

On Sun, 28 Apr 2019, 01:00 Sean Ferguson, <notifications@github.com> wrote:

[2019-04-29 00:59] #39 closed

[2019-04-29 01:01] #55 closed

[2019-04-30 09:47] devandanger commented on #58
Having issues with getting [Charles proxy](https://www.charlesproxy.com/) working on the work machine... too many proxies going on.  Working on a couple extensions which output to curl commands.  Regardless my co-worker got it to magically work, so we'll see maybe it's somehow a network issue.

[2019-05-02 11:46] irzum opened #61 "iterations duration"
I am migrating user stories from vsts -> tfs but i am not able to migrate time duration of iterations from, is it possible to perform this or this migrator cant do that?

![picturemessage_ccmwmgjk frq](https://user-images.githubusercontent.com/43838503/57073179-c0464d00-6cf9-11e9-8a2c-5b0574f06ba4.png)
![picturemessage_igq5ylrs vgi](https://user-images.githubusercontent.com/43838503/57073180-c0464

[2019-05-02 11:49] irzum commented on #46
your PAT (Personal Access Token) is not valid

[2019-05-02 11:53] irzum commented on #29
well i never faced this problem, you have to give the path of you query respectively, if it is in My Queries you have to put "My Queries/<query name>"

if you query is in SHARED queries then you have to put "Shared Queries/<query name>"

in file

[2019-05-02 11:55] irzum commented on #5
just remove "default-iteration-path" and "default-area-path" properties migrator will detect the iterations and will do the migration according to the iterations automatically.

[2019-05-14 13:20] marncosta commented on #13
I am having the same issue. But I tried to change may code like quoted by tbergstedt and didnt´t work. Anyone got the resolution for this issue?
For my case, the code that is not working is:
if (targetWorkItem.Relations != null)
            {
                foreach (WorkItemRelation relation in targetWorkItem.Relations)
                {
                    if (RelationHelpers.IsRelationHyperlink

[2019-05-15 16:24] marncosta commented on #13
I have solved my  problem related to this exception: "Could not find comment in relation hyperlink to source work item on target work item with id: {targetWorkItem.Id.Value}. Expected source work item id: {sourceWorkItemId}")
 I didn´t insert **full qualified URL** on both source-connection/account and  target-connection/account properties in configuration.json. After, I updated for full qualified

[2019-05-15 22:51] devandanger commented on #58
Very weird could get it to work on other machines.
Tried to log several diagnostics in order to solve this in lieu of a proper proxy tool working.

I tried this on a PC VM that I setup and this worked fine.
Tried it on a coworkers Mac and it worked as well.

I'm moving on here but in case this gets re-opened.

[2019-05-15 22:51] #58 closed

[2019-05-15 23:05] devandanger opened #62 "Migrating Identities from TFS to VSTS"
More of a design question here.

Looking into adding feature which can replace identities from local AD accounts in TFS to ones in Azure AD accounts in VSTS.

High-level design was to introduce another key into the configuration files.
[code]

The processors are the part I'm making sense of still though.
1. Make a new processor similar to the ```IdentityPreProcessor```, maybe ```MigrateIdentityPre

[2019-05-16 11:32] tbergstedt commented on #13
@sferg-msft Sorry, I am unable to reproduce the problem, due to the simple fact that we a while ago switched to https:// only for our TFS connections.

[2019-05-17 08:20] HengjieWang opened #63 "Add area path and iteration path mapping"
If the area path not existing to target project, can we not just migrate all of them to "default-area-path", provide some mapping options?

For example:
In configuration.json, the "default-area-path": A
In source project, the area path list is {B, C, D}
In target project, the area path list is {A, B, E}

Is it possibility to migrate the area path with the relation B -> B, C -> E, D -> A?

[2019-05-20 15:49] devandanger commented on #62
@aseanferguson any thoughts regarding this approach?

[2019-05-20 17:44] aseanferguson commented on #62
That works for me.

[2019-05-21 11:40] abx78 commented on #29
I run in the same issue, this is the error I get from the log:

`[Info   @08.34.57.323] Getting query for _tfsmachinename_
[Error   @08.34.57.516] Validation error:
Common.Validation.ValidationException: Unable to read the migration query --->
Common.RetryPermanentException: Permanent error for f3e19c51-ec5e-4729-941a-b7542c3489d3, not retrying

---> Microsoft.VisualStudio.Services.WebApi.VssResou

[2019-05-21 11:44] irzum commented on #29
you are not giving correct migration query name

in config file you have to change the QUERY property which is something like this "Shared Queries/your query name" if you are using a query which is in "My Query" then you have to put "My Queries/your query name" in query property if you are using a query which is in shared folder then you have to give "Shared Queries/your query name"

[2019-05-21 11:52] abx78 commented on #29
At the moment my configuration says:
_"query": "Shared Queries/MyProject/MyMigrationQuery"_

Can't spot an issue with that...

[2019-05-21 11:57] irzum commented on #29
yes now what you are going to do is something like this
steps
1)remove this part "Shared Queries/MyProject/MyMigrationQuery"
2)check if your query is in "My Queries" folder or in "Shared Queries"
3)if you query is in "My Query" then put " "query": My Queries/YourQueryName" else " "query": Shared Queries/YourQueryname"

[2019-05-21 14:45] abx78 commented on #29
Thanks for helping out @irzum
The error unfortunately persists.

Debugging the code, I see the exception is raised when trying to get the query with the command:

`client.GetQueryAsync(project, queryName, expand: QueryExpand.Wiql)`

I have the same issue if I run this command:
`client .GetQueriesAsync("MyProject)`

API resource location a67d190c-c41f-424b-814d-0e906f659301 is not registered on _ht

[2019-05-21 14:59] abx78 commented on #29
If I decompile the code behind GetQueriesAsync and GetQueryAsync from the _Microsoft.TeamFoundation.WorkItemTracking.WebApi_ I see a _locationId_ variable is instantiated with the following value:

`Guid locationId = new Guid("a67d190c-c41f-424b-814d-0e906f659301");`

This suspiciously matches what is shown in the error I am getting...

[2019-05-21 15:02] irzum commented on #29
you are trying to migrate data from either one vsts/tfs right?

[2019-05-21 15:09] obvioussean commented on #29
Could you share a screenshot of your all queries list on your project?  It is unusual to have project in the path for your shared queries.

What version of TFS are you migrating from?

[2019-05-21 15:20] abx78 commented on #29
Yes, moving out of TFS 2015

TFS 2015. Also, I get the same issue if I move the query in the root of the Shared Queries

[2019-05-21 15:24] irzum commented on #29
you can use command line to do the migration
using the -validate and -migrate command

[2019-05-21 15:44] obvioussean commented on #29
@abx78 That's your problem.  The migrator only supports TFS 2017 or higher, TFS 2015 doesn't have the necessary REST APIs.

[2019-05-21 15:47] abx78 commented on #29
Ha, that makes sense, unfortunately. Thanks a lot for your help @obvioussean

[2019-05-21 15:48] #29 closed

[2019-06-07 14:47] ruffrydery2000 commented on #46
I had the same problem but resolved it by creating 2 Personal Access Tokens, one in source project and the other in target project. Make sure your tokens are valid

[2019-06-07 14:59] ruffrydery2000 opened #64 "Invalid Area/Iteration Path"
Hi everyone. When I ran the Validation, I got a warning saying my work items have been skipped due to an invalid area/iteration path or type and will not be migrated. Any solution ideas? Thanks in advance

Dave

![WiMigratorError](https://user-images.githubusercontent.com/50343048/59113533-d358c800-890a-11e9-897c-d4383fc1f87a.JPG)

[2019-06-07 23:11] HarshalRane23 commented on #46
unfortunately Issue is still there because Microsoft DevOps does not support migration of work items form one DevOps organisation to another.

[2019-06-14 14:35] iambernics opened #65 "Unable to read the migration query"
Hi All,

I am migrating Work Items from TFS 2017 to Azure DevOps.

It is working properly with some project but I am getting error on a project:

in the log:

`[Error  @07.22.29.275] Validation error:
 Common.Validation.ValidationException: Unable to read the migration query ---> Common.RetryPermanentException: Permanent error for 683c5b2c-649c-4dd1-9ca1-49c22ee052c0, not retrying ---> Microsoft.V

[2019-06-14 16:53] iambernics commented on #65
Sorry, it was my mistake: the project name was wrong.

After I fixed it, the validation passed but I got this result on the migration:

[Error   @18.44.03.208] 4091 total work item(s) failed.
[Error   @18.44.03.209]    4014 work item(s) failed for this reason: BadRequest.
[Error   @18.44.03.216]    77 work item(s) failed for this reason: UnexpectedError.

There are lot of warnings and errors in th

[2019-06-18 17:33] ruffrydery2000 commented on #65
try creating 2 different access tokens. one for source and one for target

[2019-06-19 08:37] sarahlamb commented on #9
Hi @skeeler

I'm having the same issue as you did back in 2018.  Can you remember which files needed the api version updating?

Many thanks,

Sarah

[2019-06-20 07:20] tbergstedt opened #66 "Unable to migrate in Azure DevOps 2019: VS403417"
We are testing migration in Azure DevOps Server 2019 and are having trouble making it work. For every workitem, we receive the error
`VS403417: ChangedBy value cannot be empty when BypassRules is specified`

When debugging, it seems to us that Microsoft has changed returning "identity fields" from a string `{first name} {last name} <{user-id}>` to a complete `Microsoft.VisualStudio.Services.WebApi

[2019-06-27 11:40] mebii opened #67 "work item revision issue"
HI Team,

I recently started using this application and thanks for those who created, I just added some enhancements, i will provide to all after my thorough review.

I just met with some work item migration issue and please let me know, if anyone face with same issue or have any solution.

issue:
1. One work item created as - Non Functional Requirement,
2. then changed type into - Change Request,

[2019-08-16 11:14] mdrafiqsa opened #68 "work item"

[2019-08-19 03:51] mdrafiqsa opened #69 "Comments are not migrated"
Hi,
I am trying to migrate work items from TFS to VSTS. Post migration, I could notice that none of the comments got migrated. Is it known issue with VSTS work item migrator?

Thanks
Girish

[2019-08-19 09:11] mdrafiqsa opened #70 "Work item number is not sync with source?"

[2019-08-22 00:12] mdrafiqsa commented on #32
@obvioussean Work item number are not in sync with source TFS in VSTS? when I run my it is returning expected result based on ID order starting from 1 .

[2019-08-27 05:57] ShadowXVII commented on #70
Work Item numbers in DevOps are incremental, so I'm not sure they can by synced.

[2019-08-29 22:25] awentzel commented on #46
@HarshalRane23 - Where did you read that Azure DevOps is not supported for migrating work items from one ADO organization to another?  It's my understanding this is supported.

[2019-09-06 14:57] InteXX opened #71 "Changing Process Models"
Will this tool assist in migrating data between collections with disparate process models?

In other words, I'd like to switch from XML to Inheritance.

[2019-09-11 17:32] obvioussean opened #72 "Add the web link to the work item"
We add the json link, we should add an option to add the web link too.

[2019-09-17 14:52] gopireddyravindar opened #75 "Is it possible to Migrate work items from TFS 2010 to TFS 2018 or Latest?"
Hello,

Can you please let me know if it possible to migrate work-items & it's flow to TFS 2018/2019?

Is there anyway to get this done?
Thank you,
RR

[2019-09-18 19:49] #72 closed

[2019-09-19 19:07] dingzhanjun commented on #66
I am having the same issue too

[2019-10-01 20:42] paulhacker5810 opened #77 "Bad Request - IdentityRef type is not accepted for this request."
Hi,

I am running the tool to migrate from one org to another org. Process templates are both Scrum. When I run the tools I get the following error for each work item I try to migrate.

{"Message":"VS403426: IdentityRef type is not accepted for this request."}

I am not finding a solution that will work for me. Can anyone shed some light on the issue I am having?

Thanks,

[2019-10-04 01:33] philspokas commented on #75
The API this app depends on is only supported in TFS 2015 and later. See https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rest-api-versioning?view=azure-devops
Further, the code specifies revision 4 of the api which means TFS 2018 is the minimum version.
You will need to upgrade TFS prior to migrating using this tool.

[2019-10-04 01:35] philspokas commented on #77
Hi Paul,

I encountered this issue today. I used the remedy in Issue #25 and was able to get around it. Instead of "5.0-preview" I simply used "5.0" for api version in addition to setting the bypassRules=False

[2019-10-21 14:22] JULIANCHO923 opened #78 "How update only area and iteration path"
Hello,
I migrated my work items but i forgot create in the target the correct iterations

Now, I created the correct iterations and **i want only update the area and iteration path**

How is possible do that?

This is my config

  "source-connection": {
    "account": "https://source.visualstudio.com",
    "project": "projectSource",
    "access-token": "...................",
    "use-integrated-a

[2019-10-22 21:56] JULIANCHO923 commented on #78
Do you know something to do? @obvioussean  @devandanger @microsoftopensource @msftgits @valenker @julioarruda @iwhp

[2019-10-22 22:22] obvioussean commented on #78
You have two options:
- Delete all the work items and start again
- Edit all the source work items so that the migrator will pick them up and migrate the area/iteration path changes

[2019-10-22 22:22] #78 closed

[2019-11-18 19:14] #75 closed

[2020-01-27 23:55] nithinpuch opened #82 "Unable to compile the project on Visual studio"
Hello,
i downloaded the code and updated the sample-configuration.json file but unable to execute the project on visual studio 2019. please put in some instructions on how to run the project.

[2020-02-04 10:54] Akhithareddy opened #83 "Unable to migrate work items of different types"
Hi Team,

Im able to migrate work items from tfs to Azure devops except in one case using Vsts Sync migrator.

I have work item type **defect** in tfs server and I need to migrate the content in defect to the **bug** in Azure devops.

When I give the work item type field as below in configuration file ,it is not working.

"WorkItemTypeDefinition": {
    "Defect": "Bug"
    },

Could you please hel

[2020-02-12 06:37] #83 closed, assigned to nobody

[2020-03-10 07:46] rsuthinan opened #86 "Cannot migrate attachment: {"Message":"TF401321: Whole Bulk failed."}}"
Please see below. Any idea where the issue could be? I even tried to execute the individual PATCH request directly in POSTMAN and I can do it so something must be wrong with the bulk update. I'm using the latest version from the master branch.

[Info   @14.38.40.167] MIGRATION STATUS:
work items that succeeded phase 1 migration: 0
work items that failed phase 1 migration:    0
work items to be pro

[2020-03-19 06:42] SpaceTimer commented on #66
I have the same issue on DevOps Server 2019.1(Dev17.M153.3). Not all work item have this issue.

[2020-06-09 18:28] snallapane002 commented on #63
Is it possible to add a feature to migrate the Area Path and Iteration Path within this tool from target to source?

[2020-06-19 09:51] Byrdwatcher1968 opened #87 "Include discussion"
Hi,

Great work with this tool. Is it possbile to add the discussion to the tool? Perhaps it is already added but I didn't see any option in the config file.

Thanks.

[2020-06-22 17:21] ross-bohr opened #89 "Real migration of Artifact Links instead of Hyperlink conversion"
Currently ArtifactLinks (Work Item to git commit link) is being converted to a Hyperlink and then added to the migrated work item. This is not useful.

ArtifactLinks must be preserved linking the migrated Work Items to the migrated git repositories (in the same Project).

Example:
**Source ArtifactLink:**
vstfs:///Git/Commit/{**sourceProjGuid**}%2f{**sourceRepoGuid**}%2f47cb466c1d1f8dd8e1b43b40ed8

[2020-07-07 13:07] jimid27 opened #90 "InlineImageUploadError"
Running into an issue where Work Items with Inline Images Fail to migrate with the following error: 85 work item(s) failed for this reason: InlineImageUploadError.

PNG Images are in the Description of the Requirement causing it to fail w/ System.Exception: The request indicated a Content-Type of "application/x-www-form-urlencoded" for method type "POST" which is not supported. Valid content types

[2020-07-09 20:39] abbeyjanicek commented on #87
I am also having this issue and need the entire Discussion history for each Work Item to be migrated as well.

[2020-07-18 06:18] Beej126 opened #91 "THANK YOU"
this thing was a godsend

[2020-07-18 06:18] #91 closed, assigned to nobody

[2020-08-21 08:55] ross-bohr commented on #89
@obvioussean , I'm trying to attact some attention to the above suggestion. Could you have a look at it or ask someone else to do so?

[2020-10-01 19:08] jackpoz commented on #66
This issue happened to me today too using another software but with the exact same error. While troubleshooting I changed WorkItemStoreFlags from BypassRules to None and received a different error about the work item type being disabled. I checked in the process, re-enabled it and that fixed the "ChangedBy value cannot be empty when BypassRules is specified" issue.

Hope this will help people reac

[2020-10-08 20:51] mjcarrabine commented on #4
I'm not sure about APIs required to update these links on the Target, but the new v3 oDATA APIs at least are exposing the links on the Source.

We have been using these new APIs in PowerBI to identify failed test cases that have bugs that are closed and can now be retested. Since there does not appear to be a way to create a query with these links.

Here is an example using the new API https://doc

[2021-09-19 08:19] RonnyKay opened #94 "Microsoft.VisualStudio.Services.Common.VssUnauthorizedException: VS30063: You are not authorized to access"
Hi,

i am trying to migrate data from Azure devops server 2020 to Azure devops services and i am getting the following error:

Common.Validation.ValidationException: An unexpected error occurred while validating project permissions ---> Microsoft.VisualStudio.Services.Common.VssUnauthorizedException: VS30063: You are not authorized to access

please see the log attached:

[WiMigrator_Migrate_2021-

[2021-10-10 19:59] JamesMiera commented on #94
I'm facing the same situation and curious if you ever found a resolution.

[2021-10-12 08:34] chripf opened #95 "BadRequest/Connection cannot be reused when migrating inside OnPremise Instance"
When migrating work items from one collection to a different one, but on the same server, migration fails with

`Authentication failed because the connection could not be reused.`

- I am using Integrated Auth for both connections
- User has rights on both.
- 4 work items were migrated, now every approach fails with the error above.
- Azure DevOps Server 2020 Update 1

Stacktrace:

[code]

[2021-10-13 13:27] Dedac commented on #90
I believe that my [PR](https://github.com/microsoft/vsts-work-item-migrator/pull/76) may resolve this

[2021-12-14 08:25] TheTilodon opened #96 "Migration failed with ERROR TF4011289"
I tried to migrate all of our backlog items from one organisation to an other.

When I run the validation it's all fine. But when I try to run the migration itself it failed with the errors:

[code]
What do I need to do? Cause when i checkup my user i have all rights in both organisations.

Best regards,
TheTilodon

[2021-12-15 13:48] TheTilodon commented on #96
I guess I got it. My user was created as Steakholder, they don't have the permission to create new Tags

[2021-12-15 13:48] #96 closed, assigned to nobody

[2022-04-26 17:15] francischeung commented on #87
My customer is also having this issue. Would love to have the ability to migrate discussion history with the other fields of a work item.

[2022-05-04 08:58] alechheb opened #97 "Can we still use this tool?"
Hi,
I'm working on migration of a project from **Azure DevOps Server 2020 Update 1** to **Azure DevOps Services**. Is this project still maintained and can meet my need? I'm asking this question because the last commit is from 2019!

[2022-06-01 21:13] leandrohinz opened #98 "Issue Bad Request"
Hi guys, when im trying to migrate from a TFS 2018 to an Azure DevOPS i get this error (it happens post validate the json)
 2 work item(s) failed for this reason: BadRequest.
![image](https://user-images.githubusercontent.com/91966964/171502811-9911986b-87dd-4729-b2a8-c1875c92a507.png)

[2022-07-04 03:47] Xerxes0198 commented on #4
Hey, I am experiencing this, too. Does anyone know of a good strategy for migrating Test Plans, Suites and Cases with their structure in tact?

[2022-08-17 14:53] microsoft-github-policy-service[bot] opened #102 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 19:11] #102 closed, assigned to nobody